<a [routerLink]="['/detail', movie.id]">
    <div class="poster">
        <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title" />
        <span class="rating">
        <i [class]="favorite ? 'ti ti-star-filled' : 'ti ti-star' " aria-hidden="true" style="cursor: pointer; pointer-events: all;"></i>
        {{ movie.vote_average | number:'1.1-1' }}
        </span>
    </div>
    <div class="info">
        <h3>{{ movie.title }}</h3>
        <span>{{ movie.release_date | date:'yyyy' }}</span>
    </div>
</a>