<div class="home">
  <div class="hero">
    <h1>Peliculas favoritas</h1>
    <p>Tus películas guardadas</p>
    <div class="search-box">
      <i class="ti ti-search" aria-hidden="true"></i>
      <input
        type="text"
        placeholder="Ej: Inception, Dune..."
        [(ngModel)]="searchQuery"
        (keyup.enter)="search()"
      />
      <button (click)="search()">Buscar</button>
    </div>
  </div>

  @if (loading) {
    <div class="loading">
      <i class="ti ti-loader-2" aria-hidden="true"></i> Cargando...
    </div>
  }

  @if (!loading) {
    <div class="section">
      <h2>{{ isSearching ? 'Resultados' : 'Mis favoritos' }}</h2>
      <div class="movies-grid">
        @for (movie of isSearching ? searchedFavorites : favorites; track movie.id) {
          <a class="movie-card" [routerLink]="['/detail', movie.id]">
            <div class="poster">
              <img [src]="getPosterUrl(movie.poster_path)" [alt]="movie.title" />
              <span class="rating">
                <i [class]="isFavorite(movie.id) ? 'ti ti-star-filled' : 'ti ti-star' "  aria-hidden="true"></i>
                {{ movie.vote_average | number:'1.1-1' }}
              </span>
            </div>
            <div class="info">
              <h3>{{ movie.title }}</h3>
              <span>{{ movie.release_date | date:'yyyy' }}</span>
            </div>
          </a>
        }
      </div>
    </div>
  }
</div>